* {
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
}

body {
    overflow: hidden;
}

.main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
}

.bg {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.wall {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.taskbar {
    width: 100%;
    height: 40px;
    background-color: #1947ED;
    position: absolute;
    bottom: 0;
    z-index: 3;

}

.start-button {
    width: 12%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 5;
    cursor: pointer;
}

.rectangle-button {
    width: 100%;
    height: 100%;
    background-color: #008414;
    position: absolute;
    z-index: 2;
}

.oval-start {
    width: 20px;
    height: 100%;
    background-color: #008414;
    border-radius: 50%;
    position: absolute;
    right: -10px;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.rectangle-button,
.start-logo,
.start-text,
.oval-start {
    pointer-events: none;
}

.start-logo {
    height: 80%;
    z-index: 3;
    left: 20px;
    position: absolute;
}

.start-text {
    font-family: 'CreatoDisplay-B';
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 28px;
    z-index: 3;
    position: absolute;
    left: 60px;
}

.right-side {
    width: 15%;
    height: 100%;
    z-index: 2;
    right: 0;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.time {
    font-family: 'CreatoDisplay-R';
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 18px;
    margin-right: 20px;
}

.signal {
    height: 50%;
    margin-right: 10px;
}

.volume {
    height: 50%;
    margin-right: 10px;
}

.desktop {
    width: 100%;
    height: 100%;
    position: absolute;
    user-select: none;
    top: 0;
}

.icon {
    position: absolute;

    width: 90px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 8px 5px;

    border-radius: 8px;

    color: white;

    cursor: grab;

    transition:
        transform 0.15s,
        background 0.15s,
        box-shadow 0.15s;
}

/* Hover */

.icon:hover {
    background: rgba(255, 255, 255, 0.12);

    backdrop-filter: blur(2px);

    transform: scale(1.03);
    cursor: pointer;
}

/* While Dragging */

.icon.dragging {
    cursor: grabbing;

    transition: none;

    z-index: 999;

    transform: scale(1.08);

    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.4);
}

.icon img {
    width: 48px;
    height: 48px;

    pointer-events: none;
}

.icon span {
    margin-top: 6px;

    font-size: 14px;

    text-align: center;

    text-shadow:
        1px 1px 2px black,
        0 0 8px rgba(0, 0, 0, 0.7);

    pointer-events: none;
}

/* WINDOW */

.window {
    background: #c0c0c0;
    padding: 8px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    border-right: 3px solid #404040;
    border-bottom: 3px solid #404040;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, .35);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    width: 392px;
}

.hidden {
    display: none;
}

.titlebar {
    height: 32px;
    background: linear-gradient(to right, #000080, #1084d0);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 8px;
    font-weight: bold;
}

.buttons {
    display: flex;
    gap: 4px;
}

.win-btn {
    width: 18px;
    height: 18px;
    background: #c0c0c0;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #404040;
    border-bottom: 2px solid #404040;
}

.close-btn {
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* TOP PANEL */

.top-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 8px;

    border-top: 3px solid #808080;
    border-left: 3px solid #808080;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

.counter {
    background: black;
    color: red;
    font-size: 34px;
    min-width: 90px;
    text-align: center;
    padding: 4px;
    font-family: 'Courier New', monospace;
}

.face {
    width: 55px;
    height: 55px;
    background: #c0c0c0;

    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    border-right: 3px solid #404040;
    border-bottom: 3px solid #404040;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 32px;
    cursor: pointer;
}

/* BOARD */

.board {
    display: grid;
    grid-template-columns: repeat(9, 42px);
    grid-template-rows: repeat(9, 42px);

    border-top: 4px solid #808080;
    border-left: 4px solid #808080;
    border-right: 4px solid #fff;
    border-bottom: 4px solid #fff;

    position: relative;
}

.cell {
    width: 42px;
    height: 42px;

    background: #c0c0c0;

    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    border-right: 3px solid #7b7b7b;
    border-bottom: 3px solid #7b7b7b;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 22px;
    font-weight: bold;
    cursor: pointer;

    transition: .08s;
}

.cell:hover {
    filter: brightness(1.03);
}

.revealed {
    border: 1px solid #888;
    background: #c0c0c0;
}

.mine {
    background: #ff3b3b !important;
}

.num1 {
    color: blue;
}

.num2 {
    color: green;
}

.num3 {
    color: red;
}

.num4 {
    color: navy;
}

.num5 {
    color: brown;
}

.num6 {
    color: teal;
}

.num7 {
    color: black;
}

.num8 {
    color: gray;
}

/* EXPLOSION */

.explosion {
    position: absolute;
    width: 20px;
    height: 20px;
    background: orange;
    border-radius: 50%;
    pointer-events: none;
    animation: blast .7s forwards;
    z-index: 999;
}

@keyframes blast {

    0% {
        transform: scale(.2);
        opacity: 1;
        background: yellow;
    }

    40% {
        transform: scale(4);
        background: orange;
    }

    70% {
        transform: scale(7);
        background: red;
        opacity: 1;
    }

    100% {
        transform: scale(12);
        opacity: 0;
        background: black;
    }
}

/* PARTICLES */

.particle {
    position: absolute;
    width: 10px;
    height: 10px;
    background: orange;
    border-radius: 50%;
    pointer-events: none;
    animation: particleFly 1s forwards;
}

@keyframes particleFly {

    from {
        opacity: 1;
        transform: translate(0, 0) scale(1);
    }

    to {
        opacity: 0;
        transform: translate(var(--x), var(--y)) scale(0);
    }
}

/* GAME OVER */

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, .72);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 18px;

    opacity: 0;
    pointer-events: none;

    transition: .4s;
}

.overlay.show {
    opacity: 1;
    pointer-events: all;
}

.game-over {
    color: white;
    font-size: 46px;
    font-weight: bold;
    text-shadow: 0 0 20px red;
    animation: pulse 1s infinite;
}

@keyframes pulse {

    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.08);
    }

    100% {
        transform: scale(1);
    }
}

.replay-btn {
    padding: 14px 28px;
    font-size: 22px;
    border: none;
    cursor: pointer;

    background: #c0c0c0;

    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    border-right: 3px solid #404040;
    border-bottom: 3px solid #404040;
}

.replay-btn:active {
    border-top: 3px solid #404040;
    border-left: 3px solid #404040;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

.info {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}

.start-menu {
    position: absolute;
    height: 70%;
    width: 542px;
    background: linear-gradient(to bottom, #2952E6, #347EFF);
    bottom: 30px;
    left: 0;
    border-radius: 20px 20px 0 0;
    border: #0000806a solid 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 6px 6px 10px;

    /* XP OPEN EFFECT */

    transform-origin: bottom left;

    transform:
        perspective(900px) rotateX(-18deg) scale(.82) translateY(45px);

    opacity: 0;

    pointer-events: none;

    transition:
        transform .22s cubic-bezier(.17, .84, .44, 1),
        opacity .16s;
}

.start-menu.open {

    transform:
        perspective(700px) rotateX(0deg) scale(1) translateY(0);

    opacity: 1;

    pointer-events: auto;
}

.big-box1 {
    width: 100%;
    height: 75%;
    background: white;
    position: absolute;
    top: 50%;
    transform: translate(0%, -47%);
    display: flex;
    align-items: center;

}

.L-box {
    width: 50%;
    height: 100%;

}

.R-box {
    width: 50%;
    height: 100%;
    background: #B7D4FF;
}

.top-barr {
    width: 100%;
    height: 15%;
    /* background: #7b7b7b; */
    position: absolute;
    top: 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 30px;
}

.bottom-barr {
    width: 100%;
    height: 10%;
    /* background: #7b7b7b; */
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.log-out-part {
    height: 100%;
    /* width: 40%; */
    display: flex;
    align-items: center;
    /* background: #ff3b3b; */
    position: relative;
    right: 50px;
    bottom: 5px;
}

.profile-frame {
    height: 75%;
    /* width: clamp(90px,200px,15%); */
    padding: 0 3px;
    background-color: #EBAD00;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 10px;
}

.log-out-photo {
    height: 50%;
}

.deep-photo {
    height: 90%;
    border-radius: 10px;
}

.nameee {
    font-family: 'Tahoma-B';
    font-size: 32px;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}

.log-out-text {
    font-family: 'Tahoma-R';
    font-size: 16px;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding-left: 10px;
}

.turn-off-part {
    height: 100%;
    /* width: 60%; */
    display: flex;
    align-items: center;
    /* background: #ff3b3b; */
    position: relative;
    right: 30px;
    bottom: 5px;
}

.turn-off-photo {
    height: 50%;
}

.turn-off-text {
    font-family: 'Tahoma-R';
    font-size: 16px;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding-left: 10px;
}

.main-menu-apps {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.appss {
    width: 100%;
    height: 14%;
    display: flex;
    align-items: center;
}

.app-logo {
    height: 70%;
    padding: 0 15px;
}

.app-namee {
    font-family: 'Tahoma-R';
    font-size: 18px;
    color: #000000;
    /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
}

.all-prog {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.linne {
    height: 1.5px;
    width: 50%;
    background-color: #000000;

}

.under-line {
    display: flex;
    align-items: center;
    justify-content: center;
}

.all-prog-text {
    font-family: 'CreatoDisplay-L';
    font-size: 14px;
    color: #000000;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 4% 10px;
}

.all-trianglee {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid rgb(0, 172, 0);
}

.side-menu-apps {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-start;
    padding: 10px 0px;

}

.side-appss {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
}

.windows-explorer {
    height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    /* display: none; */
}

.windows-explorer.show {
    display: flex;
    flex-direction: column;
}

.windows-upar {
    height: 20%;
    width: 100%;
    top: 0;
    position: relative;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    z-index: 5;
}

.windows-navbar {
    width: 100%;
    height: 20%;
    background-color: #173CC0;
    position: relative;
    top: 0;
    z-index: 10px;
    display: flex;
    justify-content: space-between;
}

.left-sideee {
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
}

.wintext {
    color: white;
    font-family: Tahoma-R;
}

.window-left-icon {
    height: 80%;
    padding: 0 10px;
}

.right-sideee {
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 5px;
}

.navv-icons {
    height: 80%;
    padding: 2px;
}

.windows-navbarrM {
    height: 80%;
    width: 100%;

}

.A-Mpart {
    height: 100%;
    width: clamp(18%, 350px, 55%);
    /* background-color: #acdeff; */
    display: flex;
    align-items: center;
    position: relative;
}

.oval1 {
    width: 3px;
    height: 90%;
    background-color: rgba(164, 164, 164, 0.612);
    border-radius: 20px / 1000px;
}

.backjaana {
    height: 100%;
    width: 35%;
    /* background-color: #173CC0; */
    display: flex;
    /* position: absolute;
    left: 8%; */
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.Back-button1 {
    height: 50%;
    transform: scale(-1);
    transform-origin: center;
}

.aagejana {
    height: 100%;
    width: 35%;
    /* background-color: #173CC0; */
    display: flex;
    /* position: absolute;
    left: 43%; */
    height: 100%;
    display: flex;
    align-items: center;
}

.Next-button1 {
    height: 50%;
}

.backtexxt {
    font-family: "Tahoma-R";
    font-size: 20px;
    padding: 10px;
}

.aagetext {
    font-family: "Tahoma-R";
    font-size: 20px;
    padding: 10px;
}

.kholo1 {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kholoimg {
    height: 60%;
}

.windows-navbarrM .topp-part {
    height: 25%;
    width: 100%;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
}

.topp-text-wrap {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.first-topp-text {
    font-family: "Tahoma-R";
    font-size: 16px;
    padding-right: 30px;
}

.windows-navbarrM .middlee-part {
    height: 50%;
    width: 100%;
    background-color: #D9D9D9;
    border-top: rgba(164, 164, 164, 0.612) 3px solid;
    border-bottom: rgba(164, 164, 164, 0.612) 3px solid;
    display: flex;
    align-items: center;
}

.windows-navbarrM .bottomm-part {
    height: 25%;
    width: 100%;
    background-color: #D9D9D9;
    display: flex;
}

.addresss {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "bettervcr";
    color: #626262;
    font-size: 14px;
}

.left-address-bar {
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    padding-left: 6px;
}

.mycompadd {
    height: 70%;

}

.addresss-p {
    padding: 10px;
    font-family: "Tahoma-R";
    font-size: 14px;
    color: #2f2f2f;
}

.goo-button {
    width: 10%;
    height: 100%;
}

.path-address {
    width: 80%;
    height: 100%;
    background-color: white;
    /* border: #656565 2px solid; */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);

}

.B-Mpart {
    width: clamp(15%, 320px, 45%);
    height: 100%;
    /* background-color: #008414; */
    display: flex;
}

.search1-part {
    width: 50%;
    padding-left: 20px;
    height: 100%;
    display: flex;
    align-items: center;
}

.folder1-part {
    width: 50%;
    /* padding-left: 20px; */
    height: 100%;
    display: flex;
    align-items: center;
}

.search1-img {
    height: 60%;
}

.windows-niche {
    height: 80%;
    width: 100%;
    /* background-color: #008414; */
    display: flex;
}

#Demo1 {
    font-family: "CreatoDisplay-B";
    font-size: 30px;
}

.left-panel1 {
    height: 100%;
    width: clamp(30%,350px,600px);
    background: linear-gradient(to bottom, #7e9ff9, #4c44eb);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.boxx1 {
    height: 23%;
    width: 90%;
    background: linear-gradient(to left, #E2E7FF, #B4C8FC);
    position: absolute;
    top: 30px;
    display: flex;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.boxx2 {
    height: 35%;
    width: 90%;
    background: linear-gradient(to left, #E2E7FF, #B4C8FC);
    position: absolute;
    top: 30%;
    display: flex;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.boxx3 {
    height: 15%;
    width: 90%;
    background: linear-gradient(to left, #E2E7FF, #B4C8FC);
    position: absolute;
    top: 68%;
    display: flex;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.right-panel1{
    height: 100%;
    flex-grow: 1;
    
}

@media (max-width: 1024px) {
    .start-button {
        width: 15%;
    }

    .right-side {
        width: 36%;
    }

    .time {
        font-size: 15px;
    }

    .left-sideee {
        width: 35%;
    }
}

@media (max-width: 768px) {
    .start-button {
        width: 25%;
    }

    .start-logo {
        left: 0;
    }

    .start-text {
        left: 35px;
    }

}

@media (max-width: 548px) {
    .start-menu {
        width: 99%;
    }

    .Back-button1 {
        height: 35%;
    }

    .Next-button1 {
        height: 35%;
    }

    .backjaana {
        padding-left: 10px;
    }

    .kholo1 {
        width: 30%;
    }

    .kholoimg {
        height: 40%;
    }

    .search1-part {
        padding-left: 5px;
    }

    .search1-img {
        height: 40%;
    }

    .aagetext {
        font-size: 18px;
    }

    .backtexxt {
        font-size: 18px;
        padding: 2px;
    }
}